@model ConnectWeb.Models.DataModels.PermissionsToRolesViewModel;
@{
    ViewData["Title"] = "Edit Permission";
}
@*<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css">*@
<h2>Select Roles for Permissions</h2>
<hr />
<div class="">
    <div class="widget">
        <form asp-action="LinkRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="widget">
                <fieldset>
                    <legend>
                        <select id="CurrentPermissionId" class="select" style="" asp-for="CurrentPermissionId" asp-items="@(new SelectList(Model.PossiblePermissions,"Id","Name"))">
                            <option>-- Select Permission --</option>
                        </select>
                    </legend>
                    <div class="col-lg-8">
                        @foreach (var role in Model.PossibleRoles)
                        {
                            <label for="role-@role.RoleId">@role.Name</label>
                            <input type="checkbox" name="CurrentRoleIds" class="check-box" id="role-@role.RoleId" value="@role.RoleId" />
                        }
                        <input type="submit" value="Save" class="btn btn-default" style="width:150px;margin-left:10px;" />
                    </div>
                </fieldset>
                <br>
                <div class="form-group">
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-id="@Model.ApplicationId" asp-controller="Application">Back to Applications</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
@*<script src="~/lib/jquery-ui/jquery-ui.js"></script>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
        $(".select").selectmenu();
        $(".check-box").checkboxradio();
    });
</script>